<script lang="typescript">
  import SvgSprite from '$components/svg-sprite.svelte';
  import {PrimaryMenu} from './_components/menu';
  import type {MenuState} from './_components/menu';
  import {Icon, IconId} from '$lib/components/icon';

  import {resolveStaticAssetPath} from '$lib/utils/components';

  const themeColor = '#78dea2';

  let menuState: MenuState;
  let toggleElement: HTMLButtonElement;
  let toggleMenu: () => void;
  let closeMenu: () => void;

  function handleMenuStateChange(event: CustomEvent<MenuState>) {
    menuState = event.detail;
  }

  function handleOutsideClick(event: Event) {
    const {target} = event;
    const element = target instanceof HTMLElement ? target : document.createElement('div');

    if (element !== toggleElement && !toggleElement.contains(element)) {
      closeMenu();
    }
  }
</script>

<svelte:head>
  <link rel="icon" href={resolveStaticAssetPath('favicon.svg')} />
  <link rel="mask-icon" href={resolveStaticAssetPath('favicon.svg')} color={themeColor} />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Karla:regular,italic,bold,bolditalic|Barlow:bold,bolditalic"
  />
  <meta name="theme-color" content={themeColor} />
</svelte:head>

<SvgSprite />

<div class="area-main" data-css-menu-state={menuState}>
  <div class="area-header">
    <PrimaryMenu bind:toggleMenu bind:closeMenu on:menustatechange={handleMenuStateChange} />
  </div>

  <main on:click={handleOutsideClick} on:touchstart={handleOutsideClick} class="area-main__content">
    <div class="area-header--portable">
      <button bind:this={toggleElement} class="menu-toggle" on:click={toggleMenu}>
        <Icon class="u-display--block" id={IconId.Burger} />
      </button>
    </div>

    <slot />
  </main>
</div>

<style lang="scss" global>
  @import '../assets/css/style.scss';
</style>
