/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Sizes in human readable format. These are used in conjunction with other
 * objects and abstractions found in inuit.css, most commonly the grid system
 * and faux flexbox.
 *
 * We have a mixin to generate our widths and their breakpoint-specific
 * variations.
 */

/**
 *
 * Demo: jsfiddle.net/inuitcss/WS4Ge
 *
 */
@mixin grid__item-widths-generate($namespace: '', $base-classname: $grid-wrap-item-classname) {
  /**
  * Whole
  */
  .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}1 {
    width: 100%;
  }

  /**
  * Halves
  */
  .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}2 {
    width: 50%;
  }

  /**
  * Thirds
  */
  .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}3 {
    width: 33.333%;
  }
  .#{$base-classname}--#{$namespace}2#{$grid-item-unit-delimiter}3 {
    width: 66.666%;
  }

  /**
  * Quarters
  */
  .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}4 {
    width: 25%;
  }
  .#{$base-classname}--#{$namespace}2#{$grid-item-unit-delimiter}4 {
    @extend .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}2;
  }
  .#{$base-classname}--#{$namespace}3#{$grid-item-unit-delimiter}4 {
    width: 75%;
  }

  /**
  * Fifths
  */
  .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}5 {
    width: 20%;
  }
  .#{$base-classname}--#{$namespace}2#{$grid-item-unit-delimiter}5 {
    width: 40%;
  }
  .#{$base-classname}--#{$namespace}3#{$grid-item-unit-delimiter}5 {
    width: 60%;
  }
  .#{$base-classname}--#{$namespace}4#{$grid-item-unit-delimiter}5 {
    width: 80%;
  }

  /**
  * Sixths
  */
  .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}6 {
    width: 16.666%;
  }
  .#{$base-classname}--#{$namespace}2#{$grid-item-unit-delimiter}6 {
    @extend .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}3;
  }
  .#{$base-classname}--#{$namespace}3#{$grid-item-unit-delimiter}6 {
    @extend .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}2;
  }
  .#{$base-classname}--#{$namespace}4#{$grid-item-unit-delimiter}6 {
    @extend .#{$base-classname}--#{$namespace}2#{$grid-item-unit-delimiter}3;
  }
  .#{$base-classname}--#{$namespace}5#{$grid-item-unit-delimiter}6 {
    width: 83.333%;
  }

  /**
  * Eighths
  */
  .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}8 {
    width: 12.5%;
  }
  .#{$base-classname}--#{$namespace}2#{$grid-item-unit-delimiter}8 {
    @extend .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}4;
  }
  .#{$base-classname}--#{$namespace}3#{$grid-item-unit-delimiter}8 {
    width: 37.5%;
  }
  .#{$base-classname}--#{$namespace}4#{$grid-item-unit-delimiter}8 {
    @extend .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}2;
  }
  .#{$base-classname}--#{$namespace}5#{$grid-item-unit-delimiter}8 {
    width: 62.5%;
  }
  .#{$base-classname}--#{$namespace}6#{$grid-item-unit-delimiter}8 {
    @extend .#{$base-classname}--#{$namespace}3#{$grid-item-unit-delimiter}4;
  }
  .#{$base-classname}--#{$namespace}7#{$grid-item-unit-delimiter}8 {
    width: 87.5%;
  }

  /**
  * Tenths
  */
  .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}10 {
    width: 10%;
  }
  .#{$base-classname}--#{$namespace}2#{$grid-item-unit-delimiter}10 {
    @extend .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}5;
  }
  .#{$base-classname}--#{$namespace}3#{$grid-item-unit-delimiter}10 {
    width: 30%;
  }
  .#{$base-classname}--#{$namespace}4#{$grid-item-unit-delimiter}10 {
    @extend .#{$base-classname}--#{$namespace}2#{$grid-item-unit-delimiter}5;
  }
  .#{$base-classname}--#{$namespace}5#{$grid-item-unit-delimiter}10 {
    @extend .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}2;
  }
  .#{$base-classname}--#{$namespace}6#{$grid-item-unit-delimiter}10 {
    @extend .#{$base-classname}--#{$namespace}3#{$grid-item-unit-delimiter}5;
  }
  .#{$base-classname}--#{$namespace}7#{$grid-item-unit-delimiter}10 {
    width: 70%;
  }
  .#{$base-classname}--#{$namespace}8#{$grid-item-unit-delimiter}10 {
    @extend .#{$base-classname}--#{$namespace}4#{$grid-item-unit-delimiter}5;
  }
  .#{$base-classname}--#{$namespace}9#{$grid-item-unit-delimiter}10 {
    width: 90%;
  }

  /**
  * Twelfths
  */
  .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}12 {
    width: 8.333%;
  }
  .#{$base-classname}--#{$namespace}2#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}6;
  }
  .#{$base-classname}--#{$namespace}3#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}4;
  }
  .#{$base-classname}--#{$namespace}4#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}3;
  }
  .#{$base-classname}--#{$namespace}5#{$grid-item-unit-delimiter}12 {
    width: 41.666%;
  }
  .#{$base-classname}--#{$namespace}6#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--#{$namespace}1#{$grid-item-unit-delimiter}2;
  }
  .#{$base-classname}--#{$namespace}7#{$grid-item-unit-delimiter}12 {
    width: 58.333%;
  }
  .#{$base-classname}--#{$namespace}8#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--#{$namespace}2#{$grid-item-unit-delimiter}3;
  }
  .#{$base-classname}--#{$namespace}9#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--#{$namespace}3#{$grid-item-unit-delimiter}4;
  }
  .#{$base-classname}--#{$namespace}10#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--#{$namespace}5#{$grid-item-unit-delimiter}6;
  }
  .#{$base-classname}--#{$namespace}11#{$grid-item-unit-delimiter}12 {
    width: 91.666%;
  }
}

@mixin grid__item-widths-global {
  @include grid__item-widths-generate();
}

@mixin grid__item-widths-palm {
  @include media-query(palm) {
    @include grid__item-widths-generate('palm-');
  }
}

@mixin grid__item-widths-lap {
  @include media-query(lap) {
    @include grid__item-widths-generate('lap-');
  }
}

@mixin grid__item-widths-lap-and-up {
  @include media-query(lap-and-up) {
    @include grid__item-widths-generate('lap-and-up-');
  }
}

@mixin grid__item-widths-portable {
  @include media-query(portable) {
    @include grid__item-widths-generate('portable-');
  }
}

@mixin grid__item-widths-desk {
  @include media-query(desk) {
    @include grid__item-widths-generate('desk-');
  }
}

@mixin grid__item-widths-desk-wide {
  @include media-query(desk-wide) {
    @include grid__item-widths-generate('desk-wide-');
  }
}
