/*------------------------------------*\
    CODE
\*------------------------------------*/
/**
 * Note: an explicit font stack should be applied to pre to ensure browsers render
 * correct `line-height`.
 */
pre {
  overflow: auto;
}

pre mark {
  background: none;
  border-block-end: 1px solid;
  color: inherit;
}
