/*------------------------------------*\
    ABSOLUTE CONTEXT
\*------------------------------------*/
.absolute-context {
  position: relative;
}

  .absolute-context__content {
    position: absolute;
  }

  .absolute-context__content--top-right {
    top: 0;
    right: 1em;
  }

  .absolute-context__content--portabletop-right {
    top: 0;
    right: 1em;
  }

  .absolute-context__content--bottom-right {
    bottom: 0;
    right: 1em;
  }

  .absolute-context__content--top-left {
    top: 0;
    left: 1em;
  }
