/*------------------------------------*\
    BLOCK LINKS
\*------------------------------------*/
.block-link {
  @include island--smaller--start;
  @include island--small--end;
  @include u-padding--largest--inline;
  @include u-margin--block-end;
  border: 2px solid var(--struct-clr-grey);
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: px-to-rem($fs-milli);

  @include u-bgc--link-states(
    var(--struct-clr-ntrl-max),
    var(--struct-clr-grey-dk),
    var(--struct-clr-grey),
  );

  @include u-fc--link-states(
    var(--struct-clr-grey-lt),
    var(--struct-clr-grey-lt),
    var(--struct-clr-grey-lt),
  );

  @include media-query(palm) {
    @include u-padding--none--inline;
  }
}

  .block-link__content {
    flex: 1;
    @include u-padding--largest--inline;

    @include media-query(palm) {
      @include u-padding--large--inline;
    }
  }
