/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
button {
  @include u-link-transition;
}

%btn {
  @include f8-btn;
  @include u-link-transition;
  @include u-border-radius;
  font-size: px-to-rem($fs-milli);
  font-weight: bold;
  padding: 0.59em 1em;

  @include u-fc--link-states(
    var(--struct-clr-ntrl-max),
    var(--struct-clr-ntrl-max),
    var(--struct-clr-ntrl-max)
  );

  &[disabled],
  &:disabled {
    &,
    &:hover,
    &:focus,
    &:active {
    }
  }
}

.btn--primary {
  @extend %btn;

  @include u-bgc--link-states--primary;
}
