/*------------------------------------*\
    $RATIO OBJECT
\*------------------------------------*/
/**
 * An object which scales proportionately
 *
 * http://bit.ly/19I8iR8
 */
@mixin f8-ratio-object($pad-block-end: 100%) {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    padding-block-end: $pad-block-end;
  }
}

@mixin f8-ratio-object__inner {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
}
