/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
i {
  font-style: normal;
}

blockquote {
  font-style: italic;
  @include font-size($fs-h3);
  @include u-padding;
}

kbd {
  border: 1px solid;
  border-radius: 2px;
  font-size: 85%;
  padding: 0.25em 0.5em;
  vertical-align: middle;
}

hr {
  border: 0;
  border-block-end: 1px solid;
}
