/*------------------------------------*\
    $PRIMARY MENU
\*------------------------------------*/
.menu--primary-container {
  @extend %menu-container;
  @include u-padding--largest--inline;
  @include u-padding--smallest--block;
  @include u-drop-shadow;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  z-index: 10;

  @include media-query(portable) {
    @include u-padding--none--inline;
    @include u-padding--larger--block;
    background-color: var(--struct-clr-grey-dk);
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    z-index: -1;
    width: 300px;
    max-width: 100%;
    opacity: 0;
    transform: translate3d(-1.5rem, 0, 0);
    transition: transform .5s ease-in-out,
      opacity .5s step-end
    ;

    &[data-css-state="menu-open"] {
      transform: translate3d(0, 0, 0);
      opacity: 1;

      transition: transform .5s ease-in-out,
        opacity 0s step-start
      ;
    }
  }
}

.menu--primary {
  @extend %menu;

  @include media-query(portable) {
    @include u-margin--block-end;
  }
}
