/*------------------------------------*\
    $MENU TOGGLE
\*------------------------------------*/
%menu-toggle {
  @include f8-btn--reset;
  @include u-fc--link-states--primary;
  position: relative;
  display: none;
  font-size: px-to-rem($fs-h6);

  &:before {
    content: '';
    display: block;
    height: 1.5em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1.5em;
    z-index: -1;
  }

  @include keyboard-focus-only() {
    &:before {
      outline: 1px dotted var(--struct-clr-primary-dk);
    }
  }

  @include media-query(portable) {
    display: inline-block;
  }
}
.menu-toggle {
  @extend %menu-toggle;
}
